.slds-modal__title {
  font-size: 24px;
  font-weight: 700;
}

.slds-modal__header {
  font-size: 24px;
  font-weight: 700;
  background: #ff076e;
  color: #fff;
}
.footer {
  display: flex;
  background: rgb(255, 77, 7);
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
}